/* estilos de los productos */
.productos {
    margin-right: auto;
    margin-left: auto;
    width: 94%;

    h2 {
        margin-top: 20px;
        text-align: center;
        color: $color-terciario;
        font-size: 32px;
        margin-bottom: 10px;
        font-style: italic;
    }

    // contenedor
    &-contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        gap: 5%;
    
        padding: 20px 0px;
        text-align: center;

        h3 {
            margin: 10px 0px;
            color: $color-terciario;
        }

        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: 1px 1px 5px #444;
            height: 200px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            background: linear-gradient(to right, $color-primario, $color-secundario);
            box-shadow: 1px 1px 6px rgba(0, 35, 68, 0.7);
            border-radius: 18px 10px;
            text-decoration: none;
            transition: all .5s;
            padding: 5px 10px;
            color: white;

            &:hover {
                box-shadow: 3px 3px 7px rgba(0, 35, 68, 0.7);
            }
        }
    }
}