/* responsive */
@media (max-width: 790px) {
    body {
        font-size: 15px;
    }

    .header {
        justify-content: center;

        &-logo {
            margin: 20px 0px 0px 0px;
        }

        &-nav {
            background-color: linear-gradient(to right, rgb(49, 218, 210), rgb(0, 132, 255));
            margin-top: 10px;
            width: 100%;
        }
    }
    
    .productos-contenedor {
        grid-template-columns: 1fr 1fr;
    }

    .producto iframe {
        width: 100%;
        margin: 12px 0px;
    }
    
    header {
        justify-content: center;
    }

    .nosotros {
        p {
            width: 90%;
        }

        h1 {
            font-size: 2.3rem;
        }
    }

    .footer {
        margin-top: 70px;
    }
}

/* responsive productos */
@media (max-width: 680px) {
    .productos {
        width: 86%;
    }
}

@media (max-width: 580px) {
    .productos {
        width: 95%;
        padding-bottom: 110px;
    }
    
    .nosotros-titulo {
        font-size: 2.1rem;
    }
}


@media (max-width: 550px) {
    .productos {
        width: 80%;

        &-contenedor {
            grid-template-columns: 1fr;
        }
    }

    .footer {
        margin-top: 0px;
    }
}